.test{
  color: blue;
  background-color: red;
}

.marker{
  background-color: lightgray;
}

.FBAimage{
  width:224px;
  height:224px;
}

#FBA_wait{
  width:50px;
  height:50px;
}

#XAIimage_waiting{
  margin: 50px;
}

.waiting{
  /* display:none; */
   padding-left: 150px;

}

.pred{
  font-size: small;

}
